{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

{{ annotations | dump }}

<figure class="graphic graphic-b-1 graphic-pad-1">
 <img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2F35a4ef06-d991-11e6-944b-e7eb37a6aa8e?source=ig&fit=scale-down&width=700"></img>
 <figcaption class="o-typography-caption">
 <a class="o-typography-link" href="#void">&#xA9; AP</a> Barack Obama at his second inaugural in 2013.
 </figcaption>
</figure>

**for testing purposes, this is [Obama's 2013 speech](https://www.whitehouse.gov/the-press-office/2013/01/21/inaugural-address-president-barack-obama)**

<article data-speech-body>
		<p>Vice President Biden, Mr. Chief Justice, members of the United States Congress, distinguished guests, and fellow citizens:</p>
			<p>Each time we gather to inaugurate a President we bear witness to the enduring strength of our Constitution. We affirm the promise of our democracy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pharetra rhoncus aliquam. We recall that what binds this nation together is not the colors of our skin or the tenets of our faith or the origins of our names.</p>
			<p>What makes us exceptional — what makes us American — is our allegiance to an idea articulated in a declaration made more than two centuries ago:</p>
</article>
{% endmarkdown %}
{% endblock %}
