@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/

.annotation-modal {
    visibility: hidden;
    border-left: 2px solid rgba(oColorsGetPaletteColor(teal-2), 0.6);
    padding-left: 10px;
    margin: 10px 0;

    @include oGridRespondTo(L) {
        position: absolute;
        width: 300px;
        right: -330px;
        margin: 0;
    }
}


.annotation-highlight {
    background-color: rgba(oColorsGetPaletteColor(teal-2), 0.3);
    transition: background-color 0.3s ease;
    &:hover,
    &[aria-expanded="true"] {
        background-color: rgba(oColorsGetPaletteColor(teal-2), 0.6);
        cursor: pointer;
    }
}

.speech-container {
    background: oColorsGetPaletteColor(warm-5);
    box-shadow: 1px 1px 1px 1px rgba(204,204,204,0.5);
    padding: 20px 40px;
}
